<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="c:\temp\internal-nlog.txt">

  <extensions>
    <add assembly="Narato.Correlations.NlogExtensions"/>
  </extensions>

  <!-- define various log targets -->
  <targets>
    <!-- write logs to file -->
    <target xsi:type="File" name="allfile" fileName="nlog-all-${shortdate}.log"
                layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|COR: ${correlation-id}|${message}${newline}${exception:format=ToString,StackTrace}${newline}" />


    <target xsi:type="File" name="ownFile-web" fileName="nlog-own-${shortdate}.log"
             layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|COR: ${correlation-id}|${message}${newline}${exception:format=ToString,StackTrace}${newline}" />
    <target xsi:type="File" name="errorsfile" fileName="errors-${shortdate}.log"
            layout="${longdate}|${logger}|COR: ${correlation-id}|${message}${newline}${exception:format=ToString,StackTrace}${newline}" />
    <target xsi:type="Console" name="stdout"
            layout="${uppercase:${level}}: ${longdate}|COR: ${correlation-id}|${logger}${newline}${message}${newline}${exception:format=ToString,StackTrace}" />

    <target xsi:type="Null" name="blackhole" />
  </targets>

  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="allfile" />

    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="*" minlevel="Error" writeTo="errorsfile" />
    <logger name="*" minlevel="Trace" writeTo="ownFile-web" />
    <logger name="*" minlevel="Trace" writeTo="stdout" />
  </rules>
</nlog>